<ul class="nav">
    <li class="nav-title"><p>task</p></li>
    <li class="nav-item item-plus"><%= link_to'', "/tasks/new", class: "fas fa-plus" %></li>
    <li class="nav-item item-plus"><p class="filter">予定表</p></li>
</ul>	