<ul class="nav nav-pills my-1">
	<li class="nav-item"><%= link_to'予定表', "/tasks/index", class: "nav-link" %></li>
    <li class="nav-item"><%= link_to'完了済', "/tasks/complete", class:"nav-link" %></li>
    <li class="nav-item"><%= link_to'未完了', "/tasks/incomplete", class:"nav-link" %></li>
</ul>	