<div class="container-md">
  <div class="main">
    <p>Find me in app/views/users/index.html.erb</p>
    <h1 class="users-heading">ユーザー一覧</h1>
    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="user-left">
          <div class-"user-image">
          <% if user.image.attached? %>
              <%= image_tag user.image %>
          <% else %>
              <%= image_tag "/user_images/default_user.jpg" %>
          <% end %>
          </div>
        </div>
          <div class="user-right">
            <%= link_to(user.name, user)  %>
              <%= user.email %>
          </div>
      </div>
    <% end %>
  </div>
</div>