<div class="wrapper">
	<div class="container">
		<h1>Let’s make an appointment!!</h1>
		<h1>Manage your tasks efficiently!!</h1>
		<p>Mark_Calendarは予定・タスク管理サービスです。</p>
		<p>スケジュールを把握して、大切な毎日を効率的に過ごしましょう</p>
			<div class="btn-wrapper">
			<%= link_to("新規登録はこちら","/signup",class:"btn signup") %>
			<p>すでにアカウントをお持ちの方は</p>
			<%= link_to("ログイン","/login",class:"btn login") %>
			</div>
	</div>
</div>