<ul class="nav">
  <li class="nav-title"><p>event</p></li>
  <li class="nav-item item-plus"><%= link_to'', new_event_path, class: "fas fa-plus" %></li>
  <li class="nav-item"><%= link_to'予定表', events_path, class: "nav-link" %></li>
  <li class="nav-item chart_link"><%= link_to 'chart', '/chart' %></li>
</ul>	
