<div class="wrapper">
  <div class="container">
    <%= render 'events/select' %>
    <div class="inner">
      <div class="split-box inner-left">
        <div id="calendar"></div>
      </div>
      <div class="split-box inner-right index_event">
        <div class="events">
          <div class="events-menu">
            <%= render 'events/form_nav' %>
          </div>
          <div class="events-display">
          <div class="form-group">
            <button  class="submit chart_btn"><i class="fas fa-2x fa-check"></i></button>
            <input type="month" >
          </div>
          <div class="main-select">
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
