<div class="wrapper">
  <div class="container">
    <%= render 'events/select' %>
    <div class="inner">
      <div class="split-box inner-left">
        <div id="calendar"></div>
      </div>
      <div class="split-box inner-right index_event">
        <div class="events">
          <div class="events-menu">
            <%= render 'events/form_nav' %>
          </div>
          <div class="events-display">
            <div class="main-select">
              <div class="form-group">
                <button  class="submit chart_btn"><i class="fas fa-2x fa-check"></i></button>
                <input type="month" >
              </div>
              <div id="scene-2-content">
                <div class="charts clearfix">
                  <div class="chart" id="water">
                      <div class="circle-mask-outer left">
                          <div class="circle-mask-inner">
                              <div class="circle-body"></div>
                          </div>
                      </div>
                      <div class="circle-mask-outer right">
                          <div class="circle-mask-inner">
                              <div class="circle-body"></div>
                          </div>
                      </div>
                      <div class="chart-content">
                          <p class="text">
                              <span class="percent-number">99</span><span class="percent-symbol">%</span>
                          </p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
