<div class="wrapper">
  <div class="container">
    <%= render 'events/select' %>
    <div class="inner">
        <div class="split-box inner-left">
          <div id="calendar"></div>
        </div>
        <div class="split-box inner-right index_event">
          <%= render partial: 'form_index' %>
        </div>
    </div>
  </div>
</div>