<div class="main calendar-new">
  <div calss="container">
    <%= form_with model: @calendar, url:"/calendars/create" do |f| %>
      <dl>
        <dt>title</dt>
        <dd><%= f.text_field :title, value: "プライベート" %></dd>
        <p class="action"><%= f.submit value:"投稿" %></p>
      </dl>
    <% end %>
  </div>
</div>