<div class="main calendar-new">
  <div calss="container">
    <%= form_with model: @calendar, url:"/calendars_create" do |form| %>
      <div class="field" >
        <%= form.label :title %>
        <%= form.text_field :title, value: "プライベート" %>
      </div>
      <div class="field" >
        <div class="action" >
          <%= form.submit value:"登録" %>
        </div>
      </div>
    <% end %>
  </div>
</div>