<div class="main calendar-show">
  <div class="container">
    <div class="calendar">
      <h2><%= @calendar.title %></h2>
      <%= link_to("編集",edit_calendar_path(@calendar),class: 'btn') %>
      <%= link_to("戻る", events_path, class: 'btn') %>
    </div>
  </div>
</div>