// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// right-sidebar ------------------------------
.main-header,.page-main {
    position: relative;
}

.page-main > .right-sidebar  {
    background-color: rgba(34, 49, 52, 0.9);
    width: 280px;
    height: 100%;
    top: 0;
    right: -280px; //画面外に移動
    position: fixed; //絶対位置、位置は固定
    margin-top: 65px;
    z-index: 10;
}

.page-main > .right-sidebar  ul {
    margin: 0;
    padding: 0;
    //top: 50px;
    width: 210px;
    right: 70px;
    position: absolute; //絶対位置を指定

}

.page-main > .right-sidebar  li {
    width: 210px;
    height: 80px;
    margin: 0;
    list-style: none; //リストマーカを非表示
}
.page-main > .right-sidebar  .side-inner:hover {
    background-color: rgba(255, 255, 255, 0.5); 
    cursor: pointer;
}

.page-main > .right-sidebar  button {
    background-color: rgba(34, 49, 52, 0.9);
    display: block;
    position: absolute;
    top: 60px;
    right: 280px;
    width: 60px;
    height: 100px;
    margin: 0;
    padding: 0;
    border: none;
}
.right-sidebar .user-edit {
    height: 40px;
    padding-left: 170px;
}

.user-edit a {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}

.page-main > .right-sidebar  .user-edit{
    height: 40px;
}
.page-main > .right-sidebar .user-image{
    height: 40px;
}
.page-main > .right-sidebar .user-name{
    height: 30px;
    line-height: 30px;
    padding:0;
}

.user-image a {
    width: 100%;
    padding: 0 50px;
    text-align: center;
}
.user-image {
    padding: 0;
}
.user-name p {
    width: 100%;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.side-inner {
    padding: 0;
}
.side-inner a {
    width: 100%;
    text-align: center;
}
// left-sidebar ----------------------------

.main-header > .left-sidebar  {
    background-color: rgba(34, 49, 52, 0.9);
    width: 280px;
    height: 100%;
    top: 0;
    left: -280px; //画面外に移動
    position: fixed; //絶対位置、位置は固定
    margin-top: 65px;
    z-index: 10;
}

.main-header > .left-sidebar .checkbox {
    margin: 0;
    padding: 0;
    //top: 50px;
    width: 210px;
    left: 70px;
    position: absolute; //絶対位置を指定
}


.main-header > .left-sidebar  li {
    width: 210px;
    height: 80px;
    display: inline-flex;
    margin: 0;
    list-style: none; //リストマーカを非表示
    padding: 0;
    font-weight: 700;
}


.main-header > .left-sidebar  button {
    background-color: rgba(34, 49, 52, 0.9);
    display: block;
    position: absolute;
    top: 60px;
    left: 210px;
    width: 60px;
    height: 100px;
    margin: 0;
    padding: 0;
    border: none;
}


input[name="event[calendar_id][]"] {
    display: none;
}

input[name="event[calendar_id][]"]:checked label{
    background-color:rgba(255, 255, 255, 0.5);
}

.botton1 p,.botton2 p,.aside-nav a {
    height: 100px;
    font-weight: 700;
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin: 0;
    line-height: 90px;
}

.botton1 p:hover,.botton2:hover p,.aside-nav a:hover {
    background-color:rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.calendar-edit {
    width: 100%;
    height: 20px;
    text-align: right;
    padding-bottom: 10px;
}

.calendar-edit p {
    margin: 0;
    padding-right: 10px;
    font-size: 8px;
}

.calendar-menu {
    padding: 5px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.calendar-check,.calendar-minus {
    width: 50%;
}
.check-icon,.minus-icon {
    text-align: center;
}
.check-name,.minus-name {
    font-size: 8px;
    text-align: center;
}

.calendar-plus {
    display: flex;
    height: 80px;
}

.plus-icon,.plus-name {
    flex: auto;
    text-align: center;
}

.plus-icon {
    line-height: 80px;
}

.plus-name {
    line-height: 70px;
    font-size: 12px;
}
.plus-name p {
    margin: 0;
    height: 80px;
}
.check-icon,.minus-icon,.plus-icon {
    color: black;
}


.calendar-check:hover,.calendar-minus:hover,.calendar-plus:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

// calendar_new ------------------------------
//.calendar-label,label{
 //   width: 210px;
  //  padding: 0;
  //  text-align: center;
  //  line-height: 100px;
//}
.calendar-label:hover {
    width: 210px;
    padding: 0;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.5);
}

.center-inner {
    padding: 10px 0;
    width: 800px;
    margin: 0 auto;
}

.menu-title {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.calendar-text {
    color: #a0a0a0;
    font-size: 1.5em;
}

input[name="calendar[color_id]"]{
    display: none;
}

label[id="color_1"]  span {
    background: #F596AA;
}

label[id="color_2"]  span  {
    background:#D0104C;
}

label[id="color_3"]  span  {
    background:#FB966E;
}

label[id="color_4"]  span  {
    background:#F7C242;
}

label[id="color_5"]  span {
    background:#B5CAA0;
}

label[id="color_6"]  span  {
    background:#58B2DC;
}

label[id="color_7"]  span  {
    background:#9B90C2;
}

label[id="color_8"]  span  {
    background:#0C0C0C;
}

label[id="color_9"]  span  {
    background:#B481BB;
}

label[id="color_10"]  span  {
    background:#A8D8B9;
}


.checkedcolor {
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(34, 49, 52, 0.9);
}
.checkedborder {
    border: 2px solid #ddd;
}


// calendar-index ------------------------
.calendar-table {
    width: 100%;
}

.calendar-inner {
    width: 100%;
    height: 50px;
}

.calendar-th {
    width: 50px;
}
.title {
    width: 300px;
}
.calendar-des {
    width: 50px
}
.title a,.calendar-des a {
    color: rgba(34, 49, 52, 0.9);
    font-size: 18px;
}

.title:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.form-check .fa-plus {
color: rgba(34, 49, 52, 0.9);
float: right;
}

.left-sidebar ul {
    height: 400px;
    overflow: scroll;
}

.checkbox ul li label {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.checkbox ul li label:hover {
    background-color: #ddd;
}