// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// events-warapper ------------------
.events-wrapper {
    margin-top: 65px;
    //width: 100%;
    //height: 800px;
    background-color: rgba(34, 49, 52, 0.9) ;
    background-image: url("/home_image1.jpg");
	background-size: cover;
}
.inner {
    display:flex;
    flex-wrap: wrap;
}

.split-box {
    padding: 10px;
    flex: auto;
    width: 25%;
}


// inner-left ----------------------------------------------
.inner-left,.inner-right {
    padding: 10px;
}
.fc-view {
    background-color: rgba(252,250,242, 0.9) ;
}

.fc-unthemed td.fc-today {
    background-color: rgba(34, 49, 52, 0.9);
}
#calendar,h2 {
    font-size: 20px;
}

#calendar {
    font-size: 12px;
}

#calendar .fc-toolbar,.fc-header-toolbar {
    height: 50px;
    margin-bottom: 0;
    padding: 10px 10px 0 10px;
    background-color: rgba(34, 49, 52, 0.9);
}


#calendar .fc-toolbar .fc-header-toolbar,h2 {
    color: white;
}


// inner-right ----------------------------------------------
.events-menu {
    margin: 0;
    height: 60px;
    width: 100%;
    display: inline-flex;
    background-color: rgba(34, 49, 52, 0.9);
}

ul {
    padding: 0;
    margin: 0;
}

.nav {
    margin: 0;
    display: inline-flex;
}

.nav-item,.nav-title {
    height: 60px;
}

.nav-title {
    line-height: 30px;
}

.nav-item:hover {
    background-color:rgba(255, 255, 255, 0.5);
}

.item-plus {
    width: 50px; 
    text-align: center;
}

.item-plus a {
    line-height: 60px;
    text-align: center;
    width: 100%;
}

.events-display {
    background-color: rgba(252, 250, 242, 0.9);
    height: 620px;
    padding: 10px;
}

.events-text{
    //position: relative;
    //display: block;
    //width: 500px;
    //margin-top: 50px;
    //padding: 15px;
    border: none;
    border-radius: 5px;
    //font-size: 16px;
    color: #a0a0a0;
    //outline: none;
  }

  .visible-if-allday {
    display: none;
  }

  .group-text {
    font-size: 14px;
    color: #a0a0a0;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
  }


  .form-group {
      flex: auto;
      width: 100%;
      height: 40px;
      padding: 10px 0;
  }

  .group-label {
      float: left;
  }

  .group-inner {
      float: right;
  }
.form-group .group-label .group-inner {
    height: 40px;
}
.group-label label {
    line-height: 40px;
}

.radio label {
    line-height: 40px;
    padding: 10px;
}
.group-inner select {
    height: 30px;
    font-size: 14px;
}
.form-allDay {
    border-bottom: 1px solid #a0a0a0;
}
.group-label-allDay {
    float: right;
}

.group-label-allDay label {
    height: 40px;
    width: 60px;
    display: block;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
}

input[name="event[allDay]"] {
    display: none;
}

.checked-allDay {
    background-color: rgba(34, 49, 52, 0.9);
    color: #ddd;
    border: 1px solid #ddd;
}

p.submit {
    text-align: center;
  }
  
  .form-group .btn {
    padding: 8px 24px;
   // background-color: rgba(34, 49, 52, 1);
    font-size: 1em;
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    //float: left;
    //margin-right: 10px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    width: 200px;
    text-align: center;
  }
 

.main-select {
    width: 400px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    color: rgba(34, 49, 52, 0.9);
    font-size: 12px;
}


// events_show ---------------------------------
.select-menu {
    flex: auto;
    width: 100%;
    //height: 50px;
    //display: flex;
    //flex-wrap: wrap;
    padding: 10px;
    line-height: 50px;
    float: left;
}
.left-icon {
    float: left;
}

.select-icon a {
    color: rgba(34, 49, 52, 0.9);
    font-size: 16px;
}

.right-icon {
    float: right;
}

.right-icon .fa-trash-alt{
    padding-right: 10px;
}


.select-group {
    flex: auto;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
}
.select-user {
    border: none;
}
.select-calendar {
    display: flex;
    height: 30px;
    line-height: 30px;
    border: none;
}

.calendar-icon,.calendar-title {
    flex: auto;
}
.calendar-icon {
    text-align: right;
    padding-right: 10px;
    color: rgba(34, 49, 52, 0.9);
}
.calendar-title {
    text-align: left;
    font-size: 12px;
}

.select-title {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
    height: 30px;
    line-height: 30px;
}

.time-group {
    height: 50px;
    padding: 10px;
    line-height: 20px;
}

.time-group table {
    width: 100%;
}

.show_hide_row {
    border: none;
    text-align: left;
    color: rgba(34, 49, 52, 0.9);
}
.select-description {
    display: none;
    width: 100%;
}

.map-icon,.note-icon {
    float: left;
    padding: 0 10px;
    color: rgba(34, 49, 52, 0.9);
}

.group-map,.group-note{
    font-size: 12px;
    float: left;
    color: rgba(34, 49, 52, 0.9);
}
.group-map {
    padding-left: 20px;
    color: rgba(34, 49, 52, 0.9);
}
.note {
    border: none;
}
.group-note {
    overflow: scroll;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    color: rgba(34, 49, 52, 0.9);
}

.date {
    font-size: 12px;
    color: rgba(34, 49, 52, 0.9);
}

.time {
    font-size: 20px;
    font-weight: 700;
    color: rgba(34, 49, 52, 0.9);
}

.alldaydate {
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    color: rgba(34, 49, 52, 0.9);
}

// events_index ------------------------------
.date-title {
    font-size: 20px;
    font-weight: 700;
    flex: auto;
    width: 100%;
}

.event-select {
    margin: 0 auto;
    width: 100%;
}

.event-time {
    width: 50px;
}

.event-title {
    font-weight: 700;
    width: 300px;
    padding-left: 10px;
    border-left: 5px solid;
}

.event-user-image {
    width: 50px;
    text-align: center;
    border-left: 1px solid #ddd;
}

.table-title {
    padding-left: 10px;
    margin:5px 0;
    background-color: rgba(34, 49, 52, 0.9);
}

.continued {
    margin-top: 20px;
    background-color: #ddd;
}
.event-title a {
    margin: 0;
    padding: 0;
    display: block;
    width: 250px;
    color:  rgba(34, 49, 52, 0.9);
}
.event-title:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}
.event-user-image:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.one {
    pointer-events: none;
    background-color: rgba(34, 49, 52, 1);
}

.hidden-if-allday #text {
    display: none;
}

.submit {
    border: none;
    background-color: rgba(252, 250, 242, 0.1);
    cursor: pointer;
    float: right;
}

.back-icon {
    float: left;
    color: rgba(34, 49, 52, 0.9);
}

.form-check {
    height: 20px;
}

.not-event {
    width: 100%;
    text-align: center;
}
.not-event p {
    font-size: 20px;
    color: rgba(34, 49, 52, 0.9);
}

.fc-more {
    color: rgba(34, 49, 52, 0.9);
}

.time-group td {
    font-size: 18px;
    font-weight: 700;
}


.main-select-scroll {
    height: 550px;
    overflow-y: scroll;
}

.alert-warning {
    flex: auto;
    width: 100%;
    height: 40px;
    padding: 10px 0;
}

.alert-warning ul {
    height: 40px
}
.alert-warning li {
    width: 100%;
    color: red;
    line-height: 0;
    height: 0;
}