// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 共通 ----------------------
//html {
  //background-color: rgba(34, 49, 52, 0.9);
  //background-image: url("/home_image1.jpg");
  //background-size: cover;
//}
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}
.main-content {
    background-image: url("/home_image1.jpg");
    background-size: cover;
    height: 100%;
}
li,p,a {
  text-decoration: none;
  color: white;
}

.container {
  //width:1320px;
  padding-left:15px; //boxの内側の余白
  padding-right:15px;
  //margin:0 auto; //boxの内側の余白を指定
  margin-top: 65px;
  scroll-snap-type: y mandatory;
}

.home-container {
  //width:1320px;
  padding: 180px 15px 100px 15px;
  //padding-left:15px; //boxの内側の余白
  //padding-right:15px;
  margin:0 auto; //boxの内側の余白を指定
  text-align: center;
}
.main {
  margin-top: 70px;
}
// home ---------------------
.wrapper {
    //background-image: url("/home_image1.jpg");
    //background-color: rgba(34, 49, 52, 0.9);
		//background-size: cover;
		//padding-top: 180px;
		//padding-bottom: 100px;
		//color: white;
    //text-align: center; //インラインブロックの要素の配置を指定
    height: 100%
}

.events {
  height: 100%;
}

.wrapper h1 {
  font-size: 45px;
	letter-spacing: 5px; //文字の幅
}

.wrapper p {
  font-weight: 700;
}

.btn-wrapper .btn {
  padding: 8px 24px;
  color: white;
  display: inline-block; //boxの要素を指定。幅や高さを指定できる
	opacity: 0.8; //透明度
	border-radius: 4px; //角を丸める
}
.btn-wrapper .btn:hover { //カーソルが乗った状態
	opacity: 1;
}

.signup {
  background-color:#239b76;
}
.login {
  background-color:#3b5998;
}

.form-group .login{
  width: 100px;
}


.btn-wrapper {
  margin:20px 0;
}

.btn-wrapper p {
  margin:10px 0;
}

header {
  width: 100%;
  height: 65px;
  background-color:rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float:left;
}

.logo p {
  margin: 0;
}

.header-right {
  float:right;
	//background-color:rgba(255, 255, 255, 0.3);
	//transition: all 0.5s;
}

.header-right li:hover {
  background-color:rgba(255, 255, 255, 0.5);
}

.header-right,li {
  height: 65px;
  line-height: 65px;
  padding: 0 25px;
  display: inline-flex;
}

#menu-icon  {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.flash {
  padding: 10px 0;
  color: white;
  background: #FFC408;
  text-align: center;
  position: absolute;
  top: 64px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}